<div class="header">
  <ul class="nav nav-pills pull-right">
    <li class="active"><a ng-href="#">Home</a></li>
    <li><a ng-href="#">About</a></li>
    <li><a ng-href="#">Contact</a></li>
  </ul>
  <h3 class="text-muted">Spring 3 rest App</h3>
</div>

<div class="row marketing">
  fsdsdf
</div>

<h3>Employees</h3>
<div class="alert alert-info" style="width:400px;" ng-show="emps.length == 0">
    No employees found
</div>
<table class="table table-bordered table-striped" style="width:450px;" ng-show="cars.length > 0">
    <thead>
        <tr>
            <th style="text-align: center; width: 25px;">Action</th>
            <th style="text-align: center;">Emp Name</th>
        </tr>
    </thead>

</table>

<div class="footer">
  <p>Angular Rest</p>
</div>
